.btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  padding: 12px;
  background: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  border: 0.1px solid transparent;

  &:hover {
    border: 3px solid #FFFFFF;
    border-radius: 8px;
  }

  &_pink {
    background: #E353D5;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    &:hover {
      border: none;

    }
  }

  &_link {
    text-decoration: none;
  }

  &_active {
    border: 3px solid #FFFFFF;
    border-radius: 8px;
  }
}

