.header {
  width: 100%;
  height: 90px;
  background: #E353D5;

  .logo {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 49px;
      color: #FFFFFF;
    }
  }

  .sign-group {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}