@import "layouts/authLayout";
@import "layouts/baseLayout";

@import "pages/home";
@import "pages/login";
@import "pages/signUp";

@import "components/header";
@import "components/loginForm";
@import "components/signUpForm";
@import "components/leftSideBar";
@import "components/loader";
@import "components/UI/button";
@import "components/UI/input";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

.App {
  text-align: center;
}

.container {
  max-width: calc(100% - 300px);
  margin: 0 auto;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jc-center {
  justify-content: center;
}

.ia-center {
  align-items: center;
}

.col-6 {
  width: 100%;
  max-width: 50%;
  height: 100%;
}

.rnc__notification-title {
  font-family: 'Roboto', sans-serif;
}